<div class="content-body" id='mian' *ngIf="!tableDataService.showUpdatePage">
    <!--<div class="input-form">
        <input placeholder="input columns size" type="text"
               [ngClass]="{'err-input':inputErr,'input-text':!inputErr}"
               [(ngModel)]="tableDataService.addColumnText" (input)="setColumn()"/>
        <input type="text" class="input-text" [(ngModel)]="tableDataService.search"
               (keydown.enter)="onSearch()"/>
        <button class="button button-search" (click)="onSearch()">search</button>
    </div>

        <div class="box">
        <app-filter-box></app-filter-box>
        <div class="shadow box-item ">
            <p-multiSelect [options]="columns" [(ngModel)]="_selectedColumns" optionLabel="header"
                           selectedItemsLabel=" {0} columns selected"
                           [style]="{minWidth:'200px'}"
                           placeholder="Choose Columns"></p-multiSelect>
        </div>

    </div>
    -->
    <p-dialog header="{{'loginPage.filters' | translate}}"
              [style]="{minWidth:'400px',minHeight:'500px',width:'600px'}"
              [(visible)]="display" [resizable]="true" responsive="false">
        <div class="filter-panel">
            <app-date-filter class="filter"></app-date-filter>
            <app-customer-filter class="filter"></app-customer-filter>
            <app-employee-filter class="filter"></app-employee-filter>
            <app-payed-filter class="filter"></app-payed-filter>
            <app-state-filter class="filter" [onlyField]="false"></app-state-filter>

        </div>


        <p-footer class="footer-dialog">
            <button pRipple type="button" (click)="cancelFilter()" style="margin-right: 15%;margin-left:10%" pButton
                    class="p-button-danger"
                    [label]="'loginPage.cancel' | translate" icon="pi pi-times" label="delete"></button>
            <button pRipple type="button" (click)="updateData()" style="margin-left:15%;margin-right:10% " pButton
                    icon="pi pi-check"
                    [label]="'loginPage.confirm' | translate"></button>

        </p-footer>
    </p-dialog>
    <p-confirmPopup [visible]="confirmDisplay"></p-confirmPopup>
    <p-contextMenu #cm [model]="items"></p-contextMenu>

    <!--  currentPageReportTemplate="{{'loginPage.TableNumLabel' | translate}}"
               [rows]="100" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,30,50,100]"
              [paginator]="true" -->
    <div style="height: 85vh;background: #f4f4f4;width: 100%">
        <p-table
                [rows]="15"
                [virtualScroll]="true" [virtualRowHeight]="20"
                [lazy]="true" (onLazyLoad)="loadDataLazy($event)"
                [reorderableColumns]="true"
                class="table-style"
                [loading]="apiService.isLoadingData"
                [columns]="_selectedColumns" [value]="tableDataService.mainData" [scrollable]="true"
                scrollHeight="flex"
                [contextMenu]="cm"
                columnResizeMode="expand"
                style="border-color: #f4f4f4"
                (sortFunction)="customSort($event)" [customSort]="true"
                [style]="{borderColor:'#f4f4f4',zIndex:'0'}"
                [resizableColumns]="true" selectionMode="single"
                dataKey="id">

            <ng-template pTemplate="caption" style="border-color: #f4f4f4">
                <div class="table-header" style="height: 35px" [style]="{borderColor:'#f4f4f4'}">
                    <div class="p-d-flex p-flex-column p-flex-md-row">
                        <div class="p-mb-4 p-mr-4" style="width: 20%">
                            <h3> {{ title }}</h3>
                        </div>
                        <div class="p-mb-6 p-mr-6" style="width: 40%">
                        </div>
                        <div *ngIf="!standardFilterDisable" class="p-mb-2 p-mr-2" style=" position: relative;top:-2px">
                            <button pButton type="button" (click)="showDialog()"
                                    class="p-button-secondary"
                                    pRipple
                                    icon="pi pi-filter size-icon-table"
                            >
                            </button>
                        </div>

                        <div *ngIf="standardFilterDisable" class="p-mb-2 p-mr-2"
                             style="width: 300px; position: relative;top:-10px">
                            <app-work-period-filter (onSuggest)="updateData()"
                                                    (click)="confirmOnFilter($event)"
                            ></app-work-period-filter>
                        </div>
                        <div *ngIf="standardFilterDisable" class="p-mb-2 p-mr-2"
                             style="width: 300px; position: relative;top:-10px">
                            <app-detail-filter (onSuggest)="updateData()"
                                               (click)="confirmOnFilter($event)"
                            ></app-detail-filter>
                        </div>
                        <div *ngIf="standardFilterDisable" class="p-mb-2 p-mr-2"
                             style="width: 300px; position: relative;top:-10px">
                            <app-work-filter (onSuggest)="updateData()"
                                             (click)="confirmOnFilter($event)"
                            ></app-work-filter>
                        </div>

                        <div *ngIf="standardFilterDisable" class="p-mb-2 p-mr-2"
                             style="width: 300px; position: relative;top:-10px">
                            <app-work-status-filter
                                    [disabled]="stateFilterDisable" [onlyField]="true"
                                    (onSuggest)="updateData()"
                                    (onClear)="updateData()"
                                    (click)="confirmOnFilter($event)"
                            ></app-work-status-filter>
                        </div>
                        <div *ngIf="!standardFilterDisable" class="p-mb-2 p-mr-2"
                             style="width: 300px; position: relative;top:-10px">
                            <app-period-date-filter [onlyField]="true" (onSuggest)="updateData()"
                                                    (onClear)="updateData()"
                                                    (click)="confirmOnFilter($event)"
                            ></app-period-date-filter>
                        </div>
                        <div *ngIf="!standardFilterDisable" class="p-mb-2 p-mr-2"
                             style="width: 300px; position: relative;top:-10px">
                            <app-state-filter
                                    [disabled]="stateFilterDisable" [onlyField]="true"
                                    (onSuggest)="updateData()"
                                    (onClear)="updateData()"
                                    (click)="confirmOnFilter($event)"
                            ></app-state-filter>
                        </div>
                        <div *ngIf="!standardFilterDisable" class="p-mb-2 p-mr-2"
                             style="width: 300px; position: relative;top:-10px">

                            <app-substring-filter (click)="confirmOnFilter($event)"
                                                  (onSuggest)="updateData()"
                            ></app-substring-filter>
                        </div>
                        <div class="p-mb-2 p-mr-2" style="width: 100px; position: relative;top:-2px">
                            <button pButton type="button" (click)="downloadExel()"
                                    class="p-button-secondary"
                                    pRipple
                                    icon="pi pi-file-excel size-icon-table "
                            >
                            </button>

                        </div>
                        <div class="p-mb-2 p-mr-2"
                             style=" position: relative;top:-2px;">
                            <p-multiSelect [options]="columns" [(ngModel)]="_selectedColumns"
                                           optionLabel="header"
                                           [showHeader]="false"
                                           id="multisect"
                                           selectedItemsLabel=""
                                           defaultLabel=""
                                           (onClick)="chooseColumn()"
                                           dropdownIcon="pi pi-microsoft size-icon"
                                           scrollHeight="700px"
                                           [style]="{width:'38px',height:'40px',position:'relative',background:'#f4f4f4',borderColor:'#f4f4f4'}"
                                           placeholder=""></p-multiSelect>
                        </div>
                    </div>


                </div>
            </ng-template>
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:30px">
                    <col style="width:30px">
                    <col *ngFor="let col of columns" style="{{'width:'+col.width+'px'}}">
                    <!--                    <col *ngIf="buttonActionDisable" style="width:150px">-->

                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr style="border-color: #f4f4f4" [style]="{borderColor:'#f4f4f4'}">
                    <th style="width:2rem;border-color: #f4f4f4"
                        [style]="{borderColor:'#f4f4f4', fontSize:'12px'}"></th>
                    <th style="width:2rem;border-color: #f4f4f4"
                        [style]="{borderColor:'#f4f4f4', fontSize:'15px'}"></th>

                    <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.header"
                        style="border-color: #f4f4f4" [style]="{borderColor:'#f4f4f4', fontSize:'12px'}">
                        {{col.header}}
                        <p-sortIcon [field]="col.header"></p-sortIcon>
                    </th>
                    <!--                    <th style="width:2rem;border-color: #f4f4f4" *ngIf="buttonActionDisable"-->
                    <!--                        [style]="{borderColor:'#f4f4f4', fontSize:'12px'}"></th>-->
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody" let-columns="columns">
                <tr style="height:34px">
                    <td *ngFor="let col of columns">
                        <div class="loading-text"></div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                <tr [pReorderableRow]="index" [pContextMenuRow]="rowData">
                    <td [style]="{borderColor:'#f4f4f4' , fontSize:'12px'}">
                        <span class="pi pi-bars" pReorderableRowHandle></span>
                    </td>
                    <td [style]="{borderColor:'#f4f4f4' , fontSize:'14px'}">
                        <span *ngIf="rowData.Comment!==''" class="pi pi-info-circle" pReorderableRowHandle
                              (click)="confirm($event,rowData)"></span>
                    </td>
                    <td *ngFor="let col of columns" class="ui-resizable-column" pResizableColumn
                        [style]="{borderColor:'#f4f4f4' , fontSize:'12px'}">
                        <span *ngIf="buttonActionDisable">
                                                                        {{rowData[col.field]}}

                        </span>
                        <span *ngIf="!buttonActionDisable">
                    <span *ngIf="(rowData[col.field]==='yes' || rowData[col.field]==='1') ">
                        <i class="pi pi-check"></i>
                        </span>
                        <span *ngIf="rowData[col.field]==='no' || rowData[col.field]==='0'"></span>
                        <span *ngIf="col.field==='Долг' || col.field==='Раб.' || col.field==='З/ч' || col.field==='Всего'"
                              style="padding-left: 50%"> </span>
                        <span *ngIf="!(rowData[col.field]==='yes' || rowData[col.field]==='1') && !(rowData[col.field]==='no' || rowData[col.field]==='0')">
                                            {{rowData[col.field]}}
                    </span>
                        </span>
                    </td>
                    <!--                    <td [style]="{borderColor:'#f4f4f4' , fontSize:'14px',zIndex:'2'}" *ngIf="buttonActionDisable">-->

                    <!--                        <app-button-list-action></app-button-list-action>-->

                    <!--                    </td>-->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [colSpan]="_selectedColumns.length">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!--
    <p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
    <div class="button-panel">
        <button type="button" (click)="deleteData()" pButton class="ui-button-danger"
                icon="pi pi-trash" [disabled]="selectRow.id<=startData.length" label="delete"></button>
        <button (click)="tableDataService.showUpdatePage=true" type="button" pButton icon="pi pi-plus"
                label="create"></button>
        <button type="button" [disabled]="selectRow.id<=startData.length" pButton icon="pi pi-pencil"
                class="ui-button-success" (click)="changeData()" label="change"></button>
    </div>-->

</div>
<app-create-add *ngIf="tableDataService.showUpdatePage"></app-create-add>