[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req visible_name
= dn
[dn]
C = GB
ST = Лондон
L = Лондон
O = Моя организация
OU = My Organizational Unit
emailAddress = email@domain.com
CN = localhost
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost