<div class="login-page">
    <div class="login-form shadow  ">
        <img src="assets/image/login-images.png"/>
        <hr width="100%"/>

        <div class="login-row">
            <span style="width: 90%">
            <p-dropdown
                    autoWidth="false" [style]="{'minWidth':'100%'}"
                    [showClear]="true" [placeholder]="'loginPage.SelectName' | translate"
                    [options]="users" [(ngModel)]="selectedUser"
                    [filter]="true" optionLabel="name"></p-dropdown>
            </span>
        </div>

        <div class="login-row">
            <span style="width: 90%">
            <input type="password" [(ngModel)]="password"
                   [disabled]="selectedUser===null || selectedUser===undefined"
                   [style]="{'minWidth':'100%'}"
                   [placeholder]="'loginPage.password' | translate"
                   [feedback]="false" pPassword/>
            </span>
        </div>
        <div class="login-row">

            <button pButton type="button" (click)="cancel()"
                    style="background: #DC143C;border: #DC143C"
                    class="p-button-raised p-button-danger"
                    [label]="'loginPage.cancel' | translate" icon="pi pi-times"></button>

            <button pButton type="button" (click)="login()"
                    class="p-button-raised p-button-success"
                    [disabled]="selectedUser===null || selectedUser===undefined"
                    [label]="'loginPage.login' | translate" icon="pi pi-check"></button>

        </div>
    </div>
</div>