.login-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page{

    position: relative;
    top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}
.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}
.login-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.login-row>button{
    margin: 0px 30px 10px 30px;
}

.login-row >div{
    padding-right: 20px;

}

.login-form >div{
   padding: 20px;
}

.content-dialog{
    display: flex;
    flex-direction: column;
}
.filter-panel {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    flex-direction: row;
    width: auto;
    min-height: 600px;
    min-width: 200px;
    height: auto;
}
.filter{
    display: inline-flex;
    margin: 20px;
}
