<!--<div class="filter-component">-->
<!--    <p class="title" >{{'loginPage.datePeriod' | translate}}</p>-->
<!--    <p-dropdown  style="margin: 5px 5px 10px;position: relative;bottom: 20px"-->
<!--            (onChange)="changeState()"  [options]="states" [(ngModel)]="state" optionLabel="name"></p-dropdown>-->



<!--</div>-->
<div class="p-fluid  p-grid p-formgrid">
    <div class="p-field p-col-36 p-md-12">
<p-dropdown *ngIf="onlyField"
            [disabled]="disabled"
             (onChange)="changeState()"  style="width: 300px" [showClear]="true" placeholder=""
             [options]="states" [(ngModel)]="state" optionLabel="name"></p-dropdown>
    </div>
</div>


<div *ngIf="!onlyField" class="filter-component">
    <div class="white-line"></div>
    <p class="title" >стан</p>
    <div class="filter-body">

    <div class=" p-fluid  p-grid p-formgrid" >
        <div class="p-field p-col-36 p-md-12">
            <p-dropdown            [disabled]="disabled"
                                   (onChange)="changeState()"
                                   [showClear]="true" placeholder="стан"
                        [options]="states" [(ngModel)]="state" optionLabel="name"></p-dropdown>

        </div>
    </div>
</div>




</div>