<div class="filter-component">
    <h3 class="title">працівник</h3>
    <div class="p-fluid  p-grid p-formgrid" style="width: 200px;margin: 5px 5px 10px;position: relative;bottom: 20px">
        <div class="p-field p-col-36 p-md-12">
            <p-autoComplete [(ngModel)]="selected" [suggestions]="filtered"
                            (onSelect)="changeState()" (completeMethod)="filter($event)"
                            field="name"
                            [dropdown]="true">
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
    </div>
</div>