<div class=" p-fluid  p-grid p-formgrid" style="height: 20px">
    <div class="p-field p-col-36 p-md-12">
        <p-autoComplete (onSelect)="changeState()" [(ngModel)]="selected" [suggestions]="works"
                        (completeMethod)="filter($event)" panelStyle="panel-style"
                        field="name"
                        [disabled]="this.filterService.workFilterEnable"
                        placeholder="работа"
                        (onClear)="clear()"
                        [type]="'search'"
                        [dropdown]="true">
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <div>{{country.name}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>
</div>