<p-menubar id="openNav" [model]="items" [style]="{
minWidth:'100%', height:'53px',position:'absolute',left:'0px',top:'0px'}"

>
    <p-button *ngIf="apiService.getUserData()!==null && apiService.getUserData()!==undefined"
              type="text" [style]="{minWidth:'80px',minHeight:'40px',
                  background:'#DC143C', borderColor:'#DC143C'}"
              (click)="quit()" icon="pi pi-fw  pi-power-off"
              class="p-button-success p-button-text"
              [label]="'loginPage.quit' | translate"></p-button>
    <p-button *ngIf="apiService.getUserData()===null || apiService.getUserData()===undefined"
              type="text" [style]="{minWidth:'80px',minHeight:'40px'}"
              (click)="quit()" icon="pi pi-fw pi-user"
              class="p-button-success p-button-text"
              [label]=" 'loginPage.login' | translate"></p-button>
</p-menubar>
<!--<p-sidebar [modal]="false" [(visible)]="display">
    <h2>{{'loginPage.menu' | translate}}</h2>
    <hr class="hr-style"/>
    <p-listbox

            [style]="{minWidth:'100%',borderColor:'white',
            position:'absolute',left:'0px',fontSize:'1.5em'}"
            [options]=" [ {name:  'loginPage.listOrders' | translate, code: 'NY'}]" [(ngModel)]="cities1"
            optionLabel="name"></p-listbox>

</p-sidebar>-->

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;
position:absolute;
left: 0px;
width: 15%;
top:53px" id="mySidebar">

    <h3 style="position:relative; left: 10px">{{'loginPage.menu' | translate}}</h3>
    <hr class="hr-style"/>
    <p-listbox

            [style]="{minWidth:'100%',borderColor:'white',
            position:'absolute',left:'0px',fontSize:'1.5em'}"
            [options]=" [ {name:  'loginPage.listOrders' | translate, code: 'NY'}]" [(ngModel)]="cities1"
            optionLabel="name"></p-listbox>
</div>

<br/>
<br/>
<br/>