thead tr th {
    position: relative;
}
span.ui-column-resizer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 8px;
    height: 100%;
    padding: 0;
    cursor: col-resize;
    border: 1px solid transparent;
}




:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
tr:nth-child(even){background-color: #f2f2f2}

table {
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}

p-table {
    text-align: left;
    width: 20vw;
    padding: 7px;
}


.button:hover {opacity: 1}
.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
}
input[type=text] {
    padding: 8px 12px;
    margin: 10px ;
    width: auto;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid grey;
}
.input-form{
    margin:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


