.filter-component {
    width: 280px;
    height: 180px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.title{
    background: white;
    position: relative;
    top:-20px;
    font-size: 1.5rem;
    paddng:10px;
    width:100px;

}