<div class="filter-component">
    <h3 class="title">{{'loginPage.datePeriod' | translate}}</h3>

    <div style="height:30px;position: relative;top:-10px; display: flex;flex-direction: row;justify-content: center;align-content: center">


            <p-radioButton name="groupname1" inputId="val4" [value]="1"
                           [(ngModel)]="menuChange" style="margin-right: 5%;margin-left: 5%"></p-radioButton>
            <label for="val4">днi</label>
            <p-radioButton name="groupname1" [value]="2" inputId="val5"
                           [(ngModel)]="menuChange" style="margin-right: 5%;margin-left: 5%"></p-radioButton>
            <label for="val5">мiсяцi</label>
            <div style="position: relative;height:auto;width: 1px;   border-left: thick solid lightgray; margin-right: 5%;margin-left: 5%">  </div>
        <p-radioButton name="groupname" inputId="val1" [value]="false"
                       [(ngModel)]="isCloseDate" style="margin-right: 5%"></p-radioButton>
        <label for="val1">відкр.</label>
        <p-radioButton name="groupname" [value]="true" inputId="val2"
                       [(ngModel)]="isCloseDate" style="margin-right: 5%;margin-left: 5%"></p-radioButton>
        <label for="val2">закр.</label>
    </div>

    <div style="display: flex;flex-direction: row;justify-content: center;width: auto">
        <p-calendar (ngModelChange)="changePeriod()" [(ngModel)]="dateFrom" *ngIf="menuChange===1" dateFormat="yy-mm-dd"
                    style="margin:5% "></p-calendar>
        <p-calendar (ngModelChange)="changePeriod()" [(ngModel)]="dateTo" *ngIf="menuChange===1" dateFormat="yy-mm-dd"
                    style="margin:5% "></p-calendar>
        <p-calendar (ngModelChange)="changePeriod()" [(ngModel)]="dateFrom" *ngIf="menuChange===2" view="month"
                    [yearNavigator]="true" dateFormat="yy-mm-dd" style="margin:5% "></p-calendar>
        <p-calendar (ngModelChange)="changePeriod()" [(ngModel)]="dateTo" *ngIf="menuChange===2" view="month"
                    [yearNavigator]="true" dateFormat="yy-mm-dd" style="margin:5% "></p-calendar>
    </div>
</div>