<div class="filter-component">
    <h3 class="title" >працівник</h3>


    <div class="p-fluid  p-grid p-formgrid" style="width: 200px;margin: 5px 5px 10px;position: relative;bottom: 20px">
        <div class="p-field p-col-36 p-md-12">
            <p-dropdown
                         (onChange)="changeState()"  [showClear]="true"  [filter]="true"
                         [placeholder]="'loginPage.SelectName' | translate"

                         [options]="employees" [(ngModel)]="employee" optionLabel="name"></p-dropdown>
        </div>
    </div>

</div>